.page {
  max-width: var(--page-width);

  background: var(--page-color);

  @media (--breakpoint-page-preview) {
    box-shadow: 0 var(--spacing-medium) var(--spacing-large) 0 var(--shadow-color);
  }

  @media print {
    margin: 0;

    box-shadow: none;
  }
}
