.page {
  max-width: var(--page-width);

  background: var(--page-color);

  @media (--breakpoint-page-preview) {
    margin: 0 auto;
    margin-top: var(--spacing-extra-large);
    margin-bottom: var(--spacing-extra-large);

    box-shadow: 0 var(--spacing-small) var(--spacing-large) 0 var(--shadow-color);
  }

  @media print {
    margin: 0;

    box-shadow: none;
  }
}
