// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.proficiencies {
  ul {
    @include respond-to(medium) {
      column-count: 2;
      column-gap: $gutter;

      margin-left: -1rem;

      list-style-position: inside;
    }
  }
}
