// -----------------------------------------------------------------------------
// This file contains typographic styles.
// -----------------------------------------------------------------------------
// link: http://codepen.io/lowmess/full/ZbzbMY

// BODY TEXT & HEADERS
// ===================

html, body {
  @include font;

  font-size: 87.5%;

  @include respond-to(medium) {
    font-size: 100%;
  }

  line-height: $base-line-height;

  color: $text;
}

h1 {
  @include font(black);

  font-size: $h1-font-size;
  line-height: $h1-line-height;

  letter-spacing: -0.025em;

  margin-top: $base-line-height;
  margin-bottom: $base-line-height;

  color: $brand;

  em {
    @include font(black-italic);
  }
}
h2 {
  @include font(semi-bold-italic);

  font-size: $h2-font-size;
  line-height: $h2-line-height;

  letter-spacing: -0.025em;

  margin-top: $base-line-height;
  margin-bottom: $base-line-height;

  em {
    @include font(semi-bold);
  }
}
h3 {
  @include font(bold);

  font-size: $h3-font-size;
  line-height: $h3-line-height;
  letter-spacing: 0.01em;


  margin-top: $base-line-height;
  margin-bottom: $base-line-height;

  em {
    @include font(bold-italic);
  }
}
h4 {
  @include font(semi-bold);

  font-size: $h4-font-size;
  line-height: $h4-line-height;

  margin-top: $base-line-height;
  margin-bottom: $base-line-height;

  em {
    @include font(semi-bold-italic);
  }
}
h5, h6 {
  @include font(light);

  font-size: $h5-font-size;
  line-height: $h5-line-height;

  margin-top: $base-line-height;
  margin-bottom: $base-line-height;

  em {
    @include font(light-italic);
  }
}
h6 {
  letter-spacing: 0.3em;
  text-transform: uppercase;
}
p, ul, ol, pre, table, blockquote {
  max-width: $measure;

  margin-top: $base-line-height;
  margin-bottom: $base-line-height;
}

// TYPOGRAPHICAL ELEMENTS
// ======================

hr {
  border: 0 hidden;
  margin-left: 0;
  height: 0;
  border-top: 5px solid $outline;
  width: 6rem;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
b, strong, em, small, code {
  line-height: 1;
}
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}
small {
  font-size: $small-font-size;
}

// BODY LINKS
// ==========

a {
  text-decoration: none;
  color: $text;

  &:visited {
    color: $text;
  }

  @include on-event {
    color: $link;
  }

  transition: color 0.15s ease;
}
