extends default

block content

  +section-title(title)
  if title == 'Experience'
    for job in collections.experience
      if job.published != false
        +experience(job)
  else if title == 'Education'
    for school in collections.education
      if school.published != false
        +experience(school)

  +footer
    p: +link('Back to Full Resume', '/')
