extends default

block content

  h3.f5.fw7.mt2.mb0.ttu.accent= title
  if title == 'Experience'
    for job in collections.experience
      +experience(job)
  else if title == 'Education'
    for school in collections.education
      +experience(school)

  footer.mt4
    hr.w4.ba.b--accent.bw1.ml0
    p: a.link.dark-gray.underline-hover(href='/') Back to Full Resume
