doctype html
include components/links
include components/columns
include components/section
include components/footer
include components/experience

head
  include partials/head

body.bg-white.bg-light-gray-page.bg-white-p.dark-gray(class= process.env.NODE_ENV == 'print' ? 'helvetica' : 'sans-serif')
  article.mw-page.mv-5-page.center.ma0-p.shadow-2-page.lh-title
    include partials/header

    main.pa4.bg-white
      block content

        if site.jobs > 0
          +section-title
            +accent-link('Experience', '/experience')
          +section
            - for (var i = 0; i < site.jobs; i++)
              +experience(collections.experience[i])

        if site.schools > 0
          +section-title
            +accent-link('Education', '/education')
          +section
            - for (var i = 0; i < site.schools; i++)
              +experience(collections.education[i])

        if person.proficiencies
          +section
            +left-column
              +section-title('Proficiencies')
            +right-column
              ul.cc2-ns.cg3-ns.cc2-p.cg3-p.pl0.mt3.mt0-ns.mt0-p.list-inside-ns.list-inside-p
                each skill in person.proficiencies
                  li= skill

        if person.email && site.references
          +footer
            p: +link('References available upon request', 'mailto:' + person.email)

  if site.promolink
    footer.pb4.tc.dn.dn-p.db-page
      p Made with #[+accent-link('Metalsmith Resume', 'https://github.com/lowmess/metalsmith-resume')] by #[+accent-link('@lowmess', 'https://github.com/lowmess/')]
