doctype html
include mixins

head
  include partials/head

body
  article.page.pv3.ph4
    include partials/header

    main.content
      block content

        section.work.cf
          .w-20-ns.fl-ns
            h3.mt1: a(href="/work") Work
          .w-80-ns.fr-ns
            each job in [collections.work[0], collections.work[1], collections.work[2]]
              +experience(job)

        section.education.cf
          .w-20-ns.fl-ns
            h3.mt1: a(href="/education") Education
          .w-80-ns.fr-ns
            - var school = collections.education[0]
            +experience(school)

        if person.proficiencies
          section.skills.cf
            .w-20-ns.fl-ns
              h3.mt1 Proficiencies
            ul.cc2-ns.cg3-ns.lspi-ns.pl4.pl3-ns.w-80-ns.fr-ns
              each skill in person.proficiencies
                li= skill

        if person.email
          footer
            hr
            p: a(href='mailto:' + person.email) References available upon request
