// -----------------------------------------------------------------------------
// This file contains everything related to the print theme
// -----------------------------------------------------------------------------

@include respond-to(print) {
  /*
  * {
    transition: none !important;
  }
  */

  html, body {
    font-size: 10pt;
  }

  body {
    max-width: $measure;

    margin: 0;
    padding-top: 0;

    background: $page;
  }

  .resume {
    margin: 0;

    box-shadow: none;
  }

  .content {
    padding-bottom: 0;

    ul a {
      border-bottom: none;
    }
  }

  .experience__title i {
    display: none;
  }

  .footer p {
    margin-bottom: 0;
  }

  h2 i {
    display: none;
  }

  @page {
    size: letter portrait;

    margin: 0.125in;
    margin-bottom: 0;
  }
}
